**/checkpoints/*
**/logs/*
**/wandb/*
**/outputs/*
**/rollout/*
**/result/*
**/results/*
**/*.lock
**/*.log
**/*.pyc
**/score/*
**/data/*
!verl/verl/trainer/config/rollout/*
!verl/verl/trainer/config/data/*
**/.vscode/*
**/upload.sh
**/*.sh
**/*.whl
**/*.whl.1
